<html lang="ar" dir="rtl">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
  <script type="module">
    import * as app from "./app.js"
    app.start();

  </script>

</head>

<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">تسجيل الاسماء </a>
  </header>
  <div class="container-fluid" id="add-family-member-form">

    <div class="row">
      <main class="col-lg-8  offset-lg-2 col-md-8 offset-md-2  col-12">
        <div class="continer">
          <form v-on:submit.prevent="saveMember">
            <div class="mb-3">
              <label for="firstName" class="form-label">الاسم</label>
              <input v-model="firstName" type="text" class="form-control" id="firstName" required="true">
            </div>
            <div class="mb-3">
              <label for="fathersName" class="form-label">اسم الاب</label>
              <input v-model="fatherName" type="text" class="form-control" id="fathersName" required="true">
            </div>
            <div class="mb-3">
              <label for="grandFathersName" class="form-label">اسم الجد</label>
              <input v-model="grandfatherName" type="text" class="form-control" id="grandFathersName" required="true">
            </div>
            <div class="mb-3">
              <label for="greatGrandFathersName" class="form-label">اسم جد الاب</label>
              <input v-model="greatGrandfatherName" type="text" class="form-control" id="greatGrandFathersName">
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">رقم الهاتف</label>
              <input v-model="phoneNumber" type="number" class="form-control" id="phoneNumber" required="true">
            </div>
            <div class="mb-3">
              <label for="placeOfResidence" class="form-label">مكان السكن</label>
              <input v-model="placeOfResidence" type="text" class="form-control" id="placeOfResidence">
            </div>
            <div class="mb-3">
              <label for="yob" class="form-label">سنه الميلاد</label>
              <input v-model="yearOfBirth" type="number" class="form-control" id="yob" required="true">
            </div>
            <div class="mb-3">
              <label for="children" class="form-label">الاطفال القاصرين(اسم واحد في كل سطر فقط)</label>
              <textarea v-model="underageChildren" class="form-control" id="chidren"></textarea>
            </div>
            <div class="mb-3">
              <label for="notes" class="form-label">ملاحظات</label>
              <textarea v-model="notes" class="form-control" id="notes"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">ارسال</button>
          </form>
        </main>
      </div>

    </div>
  </div>
</body>

</html>